.ratingContainer {
  position: relative;
}

.filled {
	fill: var(--primary);
}

.star {
	margin-right: 5px;
	display: inline-block;
}

.editable {
	cursor: pointer;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: -10px;
  color: var(--red);
  font-weight: bold;
  white-space: nowrap;
}

.error svg {
  stroke: var(--red);
}