.sortIcon {
	display: block;
	opacity: 0;
}

.active {
	color: var(--primary);
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.active .sortIcon {
	margin-right: 8px;
	opacity: 1;
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort span {
	display: grid;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
	grid-template-columns: 20px 1fr;
	gap: 8px;
}
