.tag {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;
}

.regular {
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}

.large {
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
}

.ghost {
	border: 1px solid var(--gray-light);
	background: none;
}

.red {
	color: var(--white);
	background: #DE0000;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
}

.grey {
	color: var(--white);
	background: #B3C0D9;
}

.green {
	color: var(--green);
	background: var(--green-light);
	font-weight: bold;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
	background: none;
}
