.reviewForm {
	display: grid;
	align-items: center;
	font-size: 14px;
	line-height: 19px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
}

.description {
	grid-column: start / end;
}

.submit {
	grid-column: start / end;
}

.submit span {
	margin-left: 15px;
}

.title {
	justify-self: left;
}

.rating {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.panel {
	position: relative;
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
	font-size: 14px;
	line-height: 19px;
}

.success {
	background: var(--green-light);
}

.error {
	background: var(--red-light);
}

.error .close path {
	stroke: var(--red);
}

.successTitle {
	font-weight: bold;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}

	.title {
		justify-self: inherit;
	}

	.rating {
		justify-self: left;
	}
}
